/* ===== FORM ===== */
.form-group {
    margin-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
}
